# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org
# source: https://github.com/synapsestudios/frontend-template/blob/master/.editorconfig

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2

charset=utf-8
end_of_line=lf
insert_final_newline=false
trim_trailing_whitespace = true

# SASS
[*.scss]
indent_size = 2
insert_final_newline = true

# MARKDOWN
[*.md]
trim_trailing_whitespace = false

# PYTHON
[*.py]
indent_size = 4

# HTML, ANGULARJS, MARKUP TEMPLATE
[{*.ng,*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=space
indent_size=2

[{*.js}]
indent_size=2
indent_style=space

# CONFIGURATION AND JSON
[{.babelrc,.stylelintrc,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc,jshint.json,*.jshintrc}]
indent_style=space
indent_size=2

# YAML
[{*.yml,*.yaml}]
indent_style=space
indent_size=2